body {
  margin: 0px;
  font-family: "Roboto";
}

@media only screen and (min-width: 768px) {
  #headLogo {
    height: 250px;
  }
}

/* div,
header,
nav,
section,
aside,
footer,
main {
  border: 1px dashed black;
} */

head {
  width: 100%;
}

#feed > article.news > img {
  max-width: 100px;
  max-height: 100px;
  vertical-align: text-top;
}

#feed > article.news > header {
  display: flexbox;
}

main {
  width: 75%;
  margin: auto;
}

iframe {
  border: 0;
}

#headLogo {
  width: 80vw;
  padding: calc((100vh - 80vw) / 2) 10vw;
  vertical-align: middle;
}

body > header > nav {
  background-color: #195202;
  user-select: none;
  widows: 100%;
}

.navList,
.navSubList{
  list-style: none;
  border: 0px;
  padding: 0px;
}

.navEl,
.navSubEl{
  cursor: pointer;
}

.navSubEl{
  background: #00a000;
  padding: 10px 0px;
  border-bottom: 1px solid white;
}

.navList {
  width: 100%;
  color: white;
  text-align: center;
}

.navEl {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 2px solid white;
}

.navSubList{
  height: 0px;
  overflow: hidden;
}

.elActive>.navSubList{
  height: auto;
}

/* body > header > nav > span.navElement {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 2px solid white;
} */

body > header > nav > span.navElement:hover {
  background-color: darkgreen;
  cursor: pointer;
}
